$grey-color: #666666;

.react-rater {
  display: flex;
  justify-content: center;

  div {
    background: linear-gradient(#FAFAFA, #DCDEDE);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border:1px solid $grey-color;
    margin: 2.5px;

    span {
      font-size: 1.4em;
      color: $grey-color;
      font-family: 'Source Sans Pro Bold';
    }
  }

  .is-active {
    background: linear-gradient(#62BFEA, #4E98DD);

    span {
      color: white;
    }
  }
}
